<div class="toy-card card" style="width: 30rem;">
  <div class="card-body">

    <h5 class="card-title"><%= toy.name %> </h5>

    <h6 class="card-subtitle mb-2 text-muted"> <%= link_to toy.owner.name, toy.owner, class: 'user-link'  %> </h6>
    <p class="card-text">
      <%= toy.description %> 
    </p>

    <% if current_user == toy.owner %>
      <%= link_to 'Edit', edit_toy_path(toy), class: 'interaction-link'%>
      <%= link_to 'Delete', toy, method: :delete, class: 'interaction-link', data: { confirm: 'Are you sure' } %>
    <% end %>
  </div>
</div>