<div class="toy-card card" style="width: 30rem;">
  <div class="card-body">

    <% toy.image.each do |image| %>
      <div>
        <%= image_tag url_for(image), class: 'toy-image' %>
      </div>
    <% end %>

    <span class="card-title"><%= toy.name %> </span>

    <div class="toy-owner">
      <%= gravatar_for(toy.owner, size: 16) %>
      <h6 class="card-subtitle mb-2 text-muted"> <%= link_to toy.owner.name, toy.owner, class: 'user-link'  %> </h6>
    </div>
    <p class="card-text">
      <%= toy.description %> 
    </p>

    <% if current_user == toy.owner %>
      <%= link_to 'Edit', edit_toy_path(toy), class: 'interaction-link'%>
      <%= link_to 'Delete', toy, method: :delete, class: 'interaction-link', data: { confirm: 'Are you sure' } %>
    <% end %>

    <div class="dot"></div>
  </div>
</div>