<div class="row row justify-content-md-center mb-2 border-bottom">
  <div class="col-1 d-flex justify-content-end align-self-center">
    <%= image_tag gravatar_url(user), class: "border user-image", style:"border-radius: 50%;" %> 
  </div>
  <div class="col align-self-center position-relative">
    <div class="fw-bold" id="username"><%= user.name %></div>
    <div class="text-muted small em fst-italic" id="email"> <sup><%= user.email %></sup> </div>

    <a href="<%= url_for(user) %>" class="stretched-link"></a>
  </div>

  <% # if current_user.admin? %>
  <% if current_user.admin? %>
    <div class="col-2 d-flex align-items-end flex-column align-self-center">
      <%= link_to edit_user_path(user), class: 'btn btn-sm' do %>
        <%= image_tag 'settings.svg', style: 'height: 16px; width: 16px;'%>
      <% end %>
      <%= link_to user, method: :delete, remote: true, class: 'btn  btn-sm' do %>
        <%= image_tag 'trash.svg' %>
      <% end %>
    </div>
  <% end %>


</div>