<div class="container user-dashboard">
  <div id="user">
      <div id="user-info">
        <div id="user-image">
          <%= gravatar_for(@user) %> 
        </div>

        <div id="info">
          <span id="username"> <%= @user.name %> </span><br> 
          <span id="email"> <%= @user.email %> </span> 
        </div>
      </div>

      <% if current_user == @user %>
        <div id="account-interaction">
          <div class="button">
            <%= link_to 'Edit', edit_user_path(@user), class: 'btn-sm btn-primary' %>
          </div>
          <div class="button">
            <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Delete account?' }, class: 'btn-sm btn-primary' %> 
          </div>
        </div>
      <% end %>
  </div>

  <div id="toy-interaction">
    <% 
      intro = current_user == @user ? 'You have' : "#{@user.name.split.first} has"
      toy_count = @user.toys.count 
    %>

    <span id="toy-count"> <%= "#{intro} #{pluralize(toy_count, 'toy')}" %> </span>  <br>
    <br> 
    <% if current_user == @user %>
      <%= link_to 'Add Toy', new_toy_path, id: "new-toy", class: "btn-sm btn-primary" %>
    <% end %>
  </div>

  <div id="toys">
    <%= render partial: 'toys/toy', collection: @user.toys %>
  </div>
</div>