<div class="container user-dashboard">
  <div id="user-info">

      <div id="user-image">
        <%= gravatar_for(@user) %> 
      </div>

      <div id="info">
        <span id="username"> <%= @user.name %> </span><br> 
        <span id="email"> <%= @user.email %> </span> 
      </div>
  </div>

  <div id="toy-interaction">
    <% 
      fname = @user.name.split.first
      toy_count = @user.toys.count 
    %>

    <span id="toy-count"> <%= "#{fname} has #{pluralize(toy_count, 'toy')}" %> </span>  <br>
    
    <%= link_to 'Add Toy', '#', id: "new-toy", class: "btn btn-primary" %>
  </div>

  <div id="toys">
    <%= render partial: 'toys/toy', collection: @user.toys %>
  </div>
</div>